PORT=5001
MONGODB_URI=mongodb+srv://tapapp_db_user:3L8o1ESKlalaZjg3@countpluse0.yimp5yk.mongodb.net/?appName=countpluse0
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=7d

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=brajadt@gmail.com
EMAIL_PASSWORD=brmt fgpl dlvk bebw
EMAIL_FROM=noreply@countpluse.com

# Frontend URL (for verification link)
FRONTEND_URL=http://localhost:3000

# OTP expiry (minutes)
OTP_EXPIRE_MINUTES=10

# Node Environment
NODE_ENV=development
